<div class="sidebar__single sidebar__post">
    <h3 class="sidebar__title">Articles Récents</h3>
    <ul class="sidebar__post-list list-unstyled">
        {% for article in articles %}
            {% if loop.index0 < 5 %}
                <li>
                    <div class="sidebar__post-image">
                        <img src="{{ article.image|thumbnail(770,444) }}" alt="{{ article.title }}" loading="lazy">
                    </div>
                    <div class="sidebar__post-content">
                        <h3>
                            <a href="{{ article|link }}">{{ article.title|excerpt(30) }}</a>
                        </h3>
                    </div>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>

{% if config.get('taxonomies/categories/options') is defined %}
    <div class="sidebar__single sidebar__category">
        <h3 class="sidebar__title">Catégories</h3>
        <ul class="sidebar__category-list list-unstyled">
            {% for category in config.get('taxonomies/categories/options') %}
                <li><a href="/categorie/{{ category|slug }}">{{ category|capitalize }} <span class="fa fa-angle-right"></span></a></li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
