<!DOCTYPE html>
<html lang={{ htmllang() }}>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ seo.title() }}</title>
    {{ seo.metatags() }}
    <!-- favicons Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicons/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicons/favicon-16x16.png" />
    <link rel="manifest" href="assets/images/favicons/site.webmanifest" />
    <meta name="{{- config.get('general/sitename') -}}" content="{{- config.get('general/payoff') -}}" />

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap" rel="stylesheet">

    {% block stylesheets %}
        {{ encore_entry_link_tags('app', null, 'frontend') }}
    {% endblock %}

    <!-- Matomo -->
    <script>
        var _paq = window._paq = window._paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
            var u="//analytics.aurora.cm/";
            _paq.push(['setTrackerUrl', u+'matomo.php']);
            _paq.push(['setSiteId', '1']);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
        })();
    </script>
    <!-- End Matomo Code -->

</head>

<body>

{#
<div class="preloader">
    <img class="preloader__image" width="60" src="assets/images/loader.png" alt="" />
</div>
<!-- /.preloader -->
#}
{% include 'partials/_header.twig' %}
{% block main %}

{% endblock %}

{% include '/partials/_footer.twig' %}

{% block javascripts %}
    {{ encore_entry_script_tags('app', null, 'frontend') }}
    {#  <script src="{{ asset('js/moniz.js') }}"></script>
        <script src="{{ asset('js/custom.js') }}"></script>#}
{% endblock %}
</body>

</html>
