{% set locale = app.request.locale %}
<nav class="main-menu clearfix">
    <div class="main-menu-wrapper clearfix">
        <div class="main-menu-wrapper__left clearfix">
            <div class="main-menu-wrapper__logo">
                <a href="{{ path('homepage') }}"><img src="{{ asset('images/resources/logo.png') }}" alt=""></a>
                
            </div>
            <div class="main-menu-wrapper__search-box">
                <a href="#" class="main-menu-wrapper__search search-toggler icon-magnifying-glass"></a>
            </div>
            <div class="main-menu-wrapper__social">
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="{{ config.get('themes/socials/facebook') }}" class="clr-fb"><i class="fab fa-facebook"></i></a>
                <a href="#" class="clr-ins"><i class="fab fa-instagram"></i></a>
                <ul class="main-menu__list ms-3">
                    <li class="dropdown">
                        <a >{{ locale|upper }} </a>
                        <ul>
                            <li>
                                <a href="{{ url('homepage') }}en">EN</a>
                            </li>
                            <li>
                                <a href="{{ url('homepage') }}fr">FR</a>
                            </li>
                        </ul>
                    </li>
                     
                </ul>
            </div>
        </div>
        <div class="main-menu-wrapper__main-menu">
            <a href="#" class="mobile-nav__toggler">
                <span></span>
            </a>
            <ul class="main-menu__list">
                {% for item in menu %}
                    <li class="dropdown">

                        <a href="{{ item.uri }}">{{ item.label }}</a>

                        {% if item.submenu %}
                             <ul>
                                 {% for submenu in item.submenu %}
                                    <li>
                                        <a href="{{ submenu.uri }}">{{ submenu.label|default(submenu.title) }}</a>
                                    </li>
                                 {% endfor %}
                             </ul>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="main-menu-wrapper__right">
            <div class="main-menu-wrapper__right-contact-box">
                <div class="main-menu-wrapper__right-contact-icon">
                    <span class="icon-phone-call"></span>
                </div>
                <div class="main-menu-wrapper__right-contact-number">
                    {% if config.get('theme/address/phone') %}
                        <a href="tel:{{ config.get('theme/address/phone')  }}">{{ config.get('theme/address/phone') }}</a>
                    {% endif %}
                    
                </div>
            </div>
        </div>
    </div>
</nav>
