{% setcontent whyUs = 'aurora/why-us' %}
<section class="reasons-one">
    <div class="container">
        <div class="row">
            <div class="col-xl-4">
                <div class="reasons-one__left">
                    <div class="section-title text-left">
                        <span class="section-title__tagline">Our benefits</span>
                        <h2 class="section-title__title">{{ whyUs.caption }}</h2>
                    </div>
                    <ul class="list-unstyled reasons-one__icon-box">
                        <li>
                            <span class="icon-training"></span>
                            <p class="reasons-one__text">The best user interfaces</p>
                        </li>
                        <li>
                            <span class="icon-strategy"></span>
                            <p class="reasons-one__text">Quick smooth web development</p>
                        </li>
                    </ul>
                    <p class="reasons-one__text-1">{{ whyUs.description }}</p>
                    <a href="/aurora/apropos" class="thm-btn"><span>Discover more</span></a><!-- /.thm-btn -->
                </div>
            </div>
            <div class="col-xl-8">
                <div class="reasons-one__img-box">
                    <div class="reasons-one-img-box-bg"></div>
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6">
                            <div class="reasons-one__img-one">
                                <img src="{{ asset('images/resources/reasons-one-img-1.jpg') }}" alt="">
                                <div class="reasons-one__shape-1"></div>
                                <div class="reasons-one__shape-2"></div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6">
                            <div class="reasons-one__img-two">
                                <img src="{{ asset('images/resources/reasons-one-img-3.jpg') }}" alt="">
                            </div>
                            <div class="reasons-one__img-three reasons-one__img-two">
                                <img src="{{ asset('images/resources/reasons-one-img-2.jpg') }}" alt="">
                                <div class="reasons-one__shape-3"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
