{% setcontent wemake = 'wemake' %}
<section class="we-make">
    <div class="we-make-bg" style="background-image: url({{ wemake.background|image(1894, 513) }})"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-lg-6">
                <div class="we-make__left">
                    <div class="section-title text-left">
                        <span class="section-title__tagline">{{ wemake.tagline ?? '' }}</span>
                        <h2 class="section-title__title">{{ wemake.title ?? '' }}</h2>
                    </div>
                    <div class="we-make__person">
                        <div class="we-make__person-img">
                            <img src="{{ wemake.ceo_image ? wemake.ceo_image|showimage(81, 81) }}" alt="">
                        </div>
                        <div class="we-make__person-text">
                            <p>{{ wemake.ceo_name ?? '' }}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-5 col-lg-6">
                <div class="we-make__right">
                    <div class="we-make__progress">
                        {% for service in services %}
                            <div class="we-make__progress-single">
                                <h4 class="we-make__progress-title">{{ service.title }}</h4>
                                <div class="bar">
                                    <div class="bar-inner count-bar" data-percent="{{ service.percentage }}%">
                                        <div class="count-text">{{ service.percentage }}%</div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
