{% extends 'partials/_master.twig' %}

{% block content %}
    {% include 'partials/_header_section.twig' with {'title': 'blog'}  %}

    <!--Blog Page Start-->
    <section class="blog-sidebar">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-lg-7">
                    <div class="blog-sidebar__left">
                        <div class="blog-sidebar__content">
                            <!--Blog Sidebar Content Single-->
                            {% for article in blog %}
                                <div class="blog-sidebar__content-single">
                                    <div class="blog-sidebar__content-img">
                                        <img src="{{ article.image }}" alt="{{ article.title }}">
                                        <div class="blog-sidebar__date-box">
                                            <p>{{ article.createdAt|date('d M y') }}</p>
                                        </div>
                                    </div>
                                    <div class="blog-sidebar__content-box">
                                        <ul class="list-unstyled blog-sidebar__meta">
                                            <li><i class="far fa-user-circle"></i> By
                                                    {{ article.author }}</li>
                                            {#
                                            <li><span>/</span></li>
                                            <li><a href="blog-details.html"><i class="far fa-comments"></i> 2
                                                    Comments</a>
                                            </li>
                                            #}
                                        </ul>
                                        <h3 class="blog-sidebar__title">
                                            <a href="{{ article|link }}">{{ article.title }}</a>
                                        </h3>
                                        <p class="blog-sidebar__text">{{ article.text|excerpt(150) }}</p>
                                        <div class="blog-sidebar__read-more-btn">
                                            <a href="{{ article|link }}">Plus...</a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        {#
                        <div class="blog-sidebar__bottom-box">
                            <div class="blog-sidebar__bottom-box-icon">
                                <img src="{{ asset('images/icon/blog-sidebar-bottom-box-icon.png') }}" alt="">
                            </div>
                            <p class="blog-sidebar__bottom-box-text">There are many variations of passages available
                                but have alteration in some by inject humour or random words. There are many
                                variations of passages of Lorem Ipsum available, but the majority have suffered
                                alteration.</p>
                        </div>
                        #}
                        <div class="blog-sidebar__delivering-services">
                            <div class="blog-sidebar__delivering-services-icon">
                                <a href="/services"><img
                                        src="{{ asset('images/icon/blog-sidebar__delivering-services-icon.png') }}"
                                        alt=""></a>
                            </div>
                            <h3 class="blog-sidebar__delivering-services-title"><a
                                    href="/services">Nous offrons les meilleurs services</a></h3>
                        </div>
                        <div class="blog-sidebar__load-more">
                            {{ pager(template='@theme/helpers/_pager.twig') }}
                        </div>
                    </div>
                </div>
                {% include 'partials/blog/_sidebar.twig' with {'articles': blog} %}
            </div>
        </div>
    </section>
    <!--Blog Page End-->
{% endblock %}
