{% extends 'partials/_master.twig' %}

{% setcontent settings = 'settings' %}
{% block content %}
{% setcontent about = 'about' %}

<!--Page Header Start-->
<section class="page-header">
    <div class="page-header-bg" style="background-image: url(assets/images/backgrounds/page-header-bg.jpg)">
    </div>
    <div class="container">
        <div class="page-header__inner">
            <ul class="thm-breadcrumb list-unstyled">
                <li><a href="{{ path('homepage') }}">Home</a></li>
                <li>Contact</li>
            </ul>
            <h2>Contact</h2>
        </div>
    </div>
</section>
<!--Page Header End-->

    <!--Location Start-->
    <section class="location">
        <div class="location-shape" style="background-image: url(assets/images/shapes/location-shape.png)"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-4">
                    <!--Location Single-->
                    <div class="location__single">
                        <h3 class="location__title">about</h3>
                        <p class="location__text">{{ about.tag }}</p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4">
                    <!--Location Single-->
                    <div class="location__single">
                        <h3 class="location__title">address</h3>
                        <p class="location__text">{{ settings.address }}</p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4">
                    <!--Location Single-->
                    <div class="location__single location__single-last">
                        <h3 class="location__title">contact</h3>
                        <h5 class="location__phone-email">
                            <a href="tel:{{ settings.phone }}" class="location__phone">{{ settings.phone }}</a>
                            <a href="mailto:{{ settings.email }}" class="location__email">{{ settings.email }}</a>
                        </h5>
                        <div class="location__social">
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-facebook"></i></a>
                            <a href="#"><i class="fab fa-pinterest-p"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="location__bottom">
                        <p class="location-bottom__text">Aurora built specifically for your business. <a href="/about">Find Your Solution</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Location End-->



    <!--contact Page Start-->
    <section class="contact-page">
        <div class="container">
            <div class="section-title text-center">
                <span class="section-title__tagline">contact with us</span>
                <h2 class="section-title__title">have question?</h2>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="contact-page__form">
                    {{ boltform('contact') }}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--contact Page End-->
{% endblock %}
