{% form_theme form _self %}

<div class="row">
    {% block text_widget %}
        <div class="col-xl-6">
            <div class="comment-form__input-box">
                <input type="text" {{ block('widget_attributes') }} {% if value is defined %} value="{{ value }}"{% endif %} name="name">
            </div>
        </div>
    {% endblock %}

    {% block email_widget %}
        <div class="col-xl-6">
            <div class="comment-form__input-box">
                <input type="email" {{ block('widget_attributes') }} {% if value is defined %} value="{{ value }}"{% endif %} name="email">
            </div>
        </div>
    {% endblock %}

    {% block datetime_widget %}
        <div class="col-xl-6">
            <div class="comment-form__input-box">
                <input type="date" {{ block('widget_attributes') }} {% if value is defined %} value="{{ value }}"{% endif %} name="email">
            </div>
        </div>
    {% endblock %}
</div>

<div class="row">
    <div class="col-xl-12">
        {% block textarea_widget %}
            <div class="comment-form__input-box">
                <textarea name="message" {{ block('widget_attributes') }}>{{ value }}</textarea>
            </div>
        {% endblock %}
        {% block button_widget %}
            <button type="submit" class="thm-btn faqs-contact__btn"><span>{{ label }}</span></button>
        {% endblock %}
    </div>
</div>

