{% extends 'partials/_master.twig' %}


{% block main %}
    {% include 'partials/_banner.twig' %}

    <!--Welcome One Start-->
    <section class="welcome-one">
        <div class="container">
            <div class="row">
                <div class="col-xl-6">
                    <div class="welcome-one__left wow fadeInLeft" data-wow-duration="1500ms">
                        <div class="welcome-one__img-box">
                            <div class="welcome-one__img">
                                <img src="{{ record.image|thumbnail(531, 531) }}" alt="">
                                <div class="welcome-one__shape-1"></div>
                                <div class="welcome-one__shape-2"></div>
                            </div>
                            <div class="welcome-one__trusted">
                                <p>Trusted by</p>
                                <h2 class="odometer" data-count="4890">00</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="welcome-one__right">
                        <div class="section-title text-left">
                            <span class="section-title__tagline">{{ record.small_title }}</span>
                            <h2 class="section-title__title">{{ record.title }}</h2>
                        </div>
                        <div class="welcome-one__solutions">
                            <div class="welcome-one__solutions-single">
                                <div class="welcome-one__solutions-icon">
                                    <span class="icon-tick"></span>
                                </div>
                                <div class="welcome-one__solutions-text-box">
                                    <p>{{ record.cta1 }}</p>
                                </div>
                            </div>
                            <div class="welcome-one__solutions-single">
                                <div class="welcome-one__solutions-icon">
                                    <span class="icon-tick"></span>
                                </div>
                                <div class="welcome-one__solutions-text-box">
                                    <p>{{ record.cta2 }}</p>
                                </div>
                            </div>
                        </div>
                        <p class="welcome-one__right-text-1">{{ record.introduction }}</p>
                        <p class="welcome-one__right-text-2">{{ record.content }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Welcome One End-->

    <!--Counter One Start-->
    {% include('partials/_counter.twig') %}
    <!--Counter One End-->

    <!--We Change Start-->
    {% include 'partials/_faq.twig' %}
    <!--We Change End-->

    <!--We Make Start-->
    {% include 'partials/index/we-make.twig' %}
    <!--We Make End-->

    <!--Services One Start-->
    {% include 'partials/index/services.twig' %}
    <!--Services One End-->

    <!--Testimonial One Start-->
    {% include 'partials/index/testimonials.twig' %}
    <!--Testimonial One End-->

    {#
    <!--Two Boxes Start-->
    <section class="two-boxes">
        <div class="container">
            <div class="two-boxes__inner">
                <div class="row">
                    <div class="col-xl-6 col-lg-6">
                        <div class="two-boxes__single two-boxes__single-one">
                            <div class="two-boxes__content">
                                <div class="two-boxes__icon">
                                    <span class="icon-web-design"></span>
                                </div>
                                <div class="two-boxes__text">
                                    <p>We’re committed to create <br> a change that matters</p>
                                </div>
                            </div>
                            <div class="two-boxes__arrow">
                                <a href="contact.html"><span class="icon-right-arrow"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="two-boxes__single two-boxes__single-two">
                            <div class="two-boxes__content">
                                <div class="two-boxes__icon">
                                    <span class="icon-graphic-design"></span>
                                </div>
                                <div class="two-boxes__text">
                                    <p>We’re committed to create <br> a change that matters</p>
                                </div>
                            </div>
                            <div class="two-boxes__arrow">
                                <a href="about.html"><span class="icon-right-arrow"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Two Boxes End-->
    #}

{#
    <!--Video One Start-->
    <section class="video-one">
        <div class="video-one-bg jarallax" data-jarallax data-speed="0.2" data-imgPosition="50% 0%"
             style="background-image: url(assets/images/backgrounds/video-one-bg.jpg)"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="video-one__inner">
                        <div class="video-one__link">
                            <a href="https://www.youtube.com/watch?v=8DP4NgupAhI"
                               class="video-one__btn video-popup">
                                <div class="video-one__video-icon">
                                    <span class="icon-play-button"></span>
                                    <i class="ripple"></i>
                                </div>
                            </a>
                        </div>
                        <h2 class="video-one__text">We’re shaping the perfect <br> web solutions</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Video One End-->
#}

    <!--Reasons One Start-->
    {% include('partials/_reasons.twig') %}
    <!--Reasons One End-->

    <!--Blog One Start-->
    {#% include('partials/_blog.twig') %#}
    <!--Brand Two End-->

    <!--CTA One Start-->
    {% include('partials/_cta2.twig') %}
    <!--CTA One End-->
{% endblock main %}
