{% extends 'partials/_master.twig' %}
{% setcontent features = 'features' %}

{% setcontent services = 'services' orderby 'createdAt' %}

{% block main %}
<!--Page Header Start-->
<section class="page-header" style="background-image: url({{ service.headerBackground ? service.headerBackground|thumbnail(1894, 420) : '' }});">
    <div class="page-header-shape-1"></div>
    <div class="page-header-shape-2"></div>
    <div class="container">
        <div class="page-header__inner">
            <ul class="thm-breadcrumb list-unstyled">
                <li><a href="{{ path('homepage') }}">{{ others.home }}</a></li>
                <li><span>.</span></li>
                <li>{{ others.service_details}}</li>
            </ul>
            <h2>{{ service.title }}</h2>
        </div>
    </div>
</section>
<!--Page Header End-->

<!--Service Details Start-->
<section class="service-details">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-7">
                <div class="service-details__left">
                    <div class="service-details__img">
                        <img src="{{ service.image ? service.image|thumbnail(770, 416) : '' }}" alt="">
                    </div>
                    <div class="service-details__icon-box">
                        <span class="icon-front-end"></span>
                    </div>
                    <h3 class="service-details__title">{{ service.title }}</h3>
                    <p class="service-details__text-1">{{ service.description|raw }}</p>
                    <h3 class="service-details__title">{{ service.innerTitle }}</h3>
                    <p class="service-details__text-2">{{ service.innerDescription }}</p>
                    {% if features is not empty %}
                        <ul class="list-unstyled service-details__list">
                        <li>
                            <div class="icon">
                                <span class="icon-tick"></span>
                            </div>
                            <div class="text">
                                <h5>{{ features.feature1 }}</h5>
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <span class="icon-tick"></span>
                            </div>
                            <div class="text">
                                <h5>{{ features.feature2 }}</h5>
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <span class="icon-tick"></span>
                            </div>
                            <div class="text">
                                <h5> {{ features.feature3 }} </h5>
                            </div>
                        </li>
                    </ul>
                    {% endif %}
                    <p class="service-details__text-3">{{ service.innerDescription2 }}</p>

                    {% setcontent whyus = 'theylikeus' %}
                    <div class="service-details__faq">

                        <div class="accrodion-grp" data-grp-name="faq-one-accrodion">
                            {% for reason in whyus %}
                                <div class="accrodion active">
                                    <div class="accrodion-title">
                                        <h4>{{ reason.title }}</h4>
                                    </div>
                                    <div class="accrodion-content">
                                        <div class="inner">
                                            <p>{{ reason.reason }}</p>
                                        </div><!-- /.inner -->
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            {% include 'partials/_sidebar-services-list.twig' %}
        </div>
    </div>
</section>
<!--Service Details End-->

<!--CTA Two Start-->
{{ include('partials/_cta2.twig') }}
<!--CTA Two End-->

{% endblock main %}

{% block schema %}
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "Service",
            "brand": {
                "@type": "Organization",
                "email": "{{ config.get('theme/address/email') }}",
                "legalName": "{{ config.get("general/sitename") }}",
                "slogan": "{{ config.get("general/payoff") }}"
            },
            "image": "{{ service.image }}",
            "name": "{{ service.title }}",
            "slogan": "Meilleure agence digitale au cameroun",
            "url": "{{ service|link }}",
            "description": "{{ service.description|striptags }}"

        }
    </script>
{% endblock %}
